# 問題１ ループ練習

Hello World![改行]を5回表示させてください。print(或いはprintf,cout等)を5回コピーすれば当然可能ですが、 ループ構文(for,while等)を利用して、print等は1回の使用にとどめてみてください。

In [1]:
for i in range(5):
    print('Hello world!')

Hello world!
Hello world!
Hello world!
Hello world!
Hello world!

# 問題2 FizzBuzz

なんか偉い人が考えた問題 ルールは以下の通り

- 1から順番に数を表示する
- その数が3で割り切れるなら"Fizz"、5で割り切れるなら"Buzz"、両方で割り切れるなら"FizzBuzz"と表示する

In [2]:
surplus15 = {0:"FizzBuzz", 3:"Fizz", 5:"Buzz", 6:"Fizz", 9:"Fizz", 10:"Buzz", 12:"Fizz"}

for i in range(1,101):
    print(surplus15.get(i % 15, i), end=" ")

1 2 Fizz 4 Buzz Fizz 7 8 Fizz Buzz 11 Fizz 13 14 FizzBuzz 16 17 Fizz 19 Buzz Fizz 22 23 Fizz Buzz 26 Fizz 28 29 FizzBuzz 31 32 Fizz 34 Buzz Fizz 37 38 Fizz Buzz 41 Fizz 43 44 FizzBuzz 46 47 Fizz 49 Buzz Fizz 52 53 Fizz Buzz 56 Fizz 58 59 FizzBuzz 61 62 Fizz 64 Buzz Fizz 67 68 Fizz Buzz 71 Fizz 73 74 FizzBuzz 76 77 Fizz 79 Buzz Fizz 82 83 Fizz Buzz 86 Fizz 88 89 FizzBuzz 91 92 Fizz 94 Buzz Fizz 97 98 Fizz Buzz

# 問題3 うるう年測定

入力された整数がグレゴリオ暦（いつも使ってるやつ）でうるう年であるか判定せよ

### グレゴリオ暦では、次の規則に従って400年間に97回の閏年を設ける。
- 西暦年が4で割り切れる年は(原則として)閏年。
- ただし、西暦年が100で割り切れる年は(原則として)平年。
- ただし、西暦年が400で割り切れる年は必ず閏年。

In [14]:
def is_uruu(year):
    if (year % 4) == 0:
        if (year % 400) == 0:
            return True
        elif (year % 100) == 0:
            return False
        else:
            return True
    else:
        return False

year = 1
while year:
    year = int(input('西暦：'))
    if is_uruu(year):
        print('{}年はうるう年です'.format(year))
    else:
        print('{}年はうるう年ではありません'.format(year))

西暦：1992
1992年はうるう年です
西暦：2000
2000年はうるう年です
西暦：2001
2001年はうるう年ではありません
西暦：0
0年はうるう年です

# 問題4 「パトカー」＋「タクシー」＝「パタトクカシーー」

- 「パトカー」＋「タクシー」の文字を先頭から交互に連結して文字列「パタトクカシーー」を得よ．
- 「ハサミ」＋「ペンチ」の文字を先頭から交互に連結して文字列「ハペサンミチ」を得よ．
- 「ブラシ」＋「シャモジ」の文字を先頭から交互に連結して文字列「ブシャラモシジ」を得よ．

In [23]:
# python 拗音 （ようおん）でググる。
import re

words1 = ['パトカー', 'ハサミ', 'ブラシ']
words2 = ['タクシー', 'ペンチ', 'シャモジ']

for word1, word2 in zip(words1, words2):
    result =""
    for char1, char2 in zip(re.findall(r'.[ャュョ]?ッ?', word1), re.findall(r'.[ャュョ]?ッ?', word2)):
        result = result + char1 + char2
    print(result)

パタトクカシーー
ハペサンミチ
ブシャラモシジ

# 問題5 元素記号

### “Hi He Lied Because Boron Could Not Oxidize Fluorine. New Nations Might Also Sign Peace Security Clause. Arthur King Can.”

という文を単語に分解し，1, 5, 6, 7, 8, 9, 15, 16, 19番目の単語は先頭の1文字，それ以外の単語は先頭の2文字を取り出し，取り出した文字列から単語の位置（先頭から何番目の単語か）への連想配列（辞書型もしくはマップ型）を作成せよ．

In [35]:
word = "Hi He Lied Because Boron Could Not Oxidize Fluorine. New Nations Might Also Sign Peace Security Clause. Arthur King Can."
list_1char = [1, 5, 6, 7, 8, 9, 15, 16, 19]

dic_elements = dict()
for value, element in enumerate(word.split(), start=1):
    if value in list_1char:
        key = element[:1]
    else:
        key = element[:2]
    dic_elements[key] = value
dic_elements

{'H': 1,
 'He': 2,
 'Li': 3,
 'Be': 4,
 'B': 5,
 'C': 6,
 'N': 7,
 'O': 8,
 'F': 9,
 'Ne': 10,
 'Na': 11,
 'Mi': 12,
 'Al': 13,
 'Si': 14,
 'P': 15,
 'S': 16,
 'Cl': 17,
 'Ar': 18,
 'K': 19,
 'Ca': 20}

# 問題6 九九

 1桁の数値（ 1 ～ 9 に限定）を２つ入力し、その積を表示するプログラムを作成しなさい。  
 ただし、九九の計算結果が入った配列を予め作成して利用すること。

In [44]:
dic_99 = {(i, j):i*j for i in range(1,10) for j in range(1,10)}

while True:
    try:
        [i, j] = map(int,input('i j > ').split())
        print(dic_99[(i, j)])
    except:
        print('end')
        break

i j > 2 4
8
i j > 7 4
28
i j > 9 0
end

# 問題7 K-th Common Divisor

- 正整数 A , B が与えられます。 
- A も B も割り切る正整数のうち、 K 番目に大きいものを求めてください。 
- なお、与えられる入力では、 A も B も割り切る正整数のうち K 番目に大きいものが存在することが保証されます。

In [54]:
def get_cm(a,b,k):
    temp = []
    i_min = min(a,b)
    i_max = max(a,b)
    for i in range(1, i_min+1):
        if ((i_max % i)==0) and ((i_min % i)==0):
            temp.append(i)
    return temp[::-1][k-1]

while True:
    try:
        [a, b, k] = map(int,input('A B K > ').split())
        print(get_cm(a, b, k))
    except:
        print('end')
        break

A B K > 8 12 2
2
A B K > 100 50 4
5
A B K > 1
end

# 問題8 Guidebook

 あなたは美味しいレストランを紹介する本を書くことにしました。 あなたは N 個のレストラン、レストラン 1 、レストラン 2 、 … 、レストラン N を紹介しようとしています。レストラン i は S i 市にあり、あなたは 100 点満点中 P i 点と評価しています。 異なる 2 個のレストランに同じ点数がついていることはありません。

 この本では、次のような順でレストランを紹介しようとしています。

- 市名が辞書順で早いものから紹介していく。
- 同じ市に複数レストランがある場合は、点数が高いものから紹介していく。 この本で紹介される順にレストランの番号を出力してください。

In [117]:
import numpy as np
from scipy.stats import rankdata

while True:
    try:
        [n, *city_point] = map(str,input('レストラン情報 > ').split())
    except:
        print('end')
        break
    city=[]
    point=[]
    while city_point:
        value = city_point.pop(0)
        try:
            point.append(int(value))
        except:
            city.append(value)
    np_city = rankdata(np.array(city))
    np_point = rankdata(np.array(point))

    np_c_p = np.array([10*c - p for c, p in zip(np_city, np_point)])
    print([i+1 for i in np.argsort(np_c_p)])

レストラン情報 > 6 khabarovsk 20 moscow 10 kazan 50 kazan 35 moscow 60 khabarovsk 40
[3, 4, 6, 1, 5, 2]
レストラン情報 > 10 yakutsk 10 yakutsk 20 yakutsk 30 yakutsk 40 yakutsk 50 yakutsk 60 yakutsk 70 yakutsk 80 yakutsk 90 yakutsk 100
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
レストラン情報 >
end

# 問題9 City Savers

N + 1 個の街があり、 i 番目の街は A i 体のモンスターに襲われています。

N 人の勇者が居て、 i 番目の勇者は i 番目または i + 1 番目の街を襲っているモンスターを合計で B i 体まで倒すことができます。

N 人の勇者がうまく協力することで、合計して最大で何体のモンスターを倒せるでしょうか。

In [115]:
while True:
    try:
        [n, *a_b] = map(int,input('N A B > ').split())
    except:
        print('end')
        break
    a = a_b[:-n]
    b = a_b[-n:]
    
    mon = 0
    a0 = a.pop(0)
    for b1 in b:
        a1 = a.pop(0)
        a01 = a0 + a1
        if a0 >= b1:
            mon += b1
            a0 = a1
        elif a01 >= b1 > a0:
            mon += b1
            a0 = a01 - b1
        elif b1 > a01:
            mon += a01
            a0 = 0
    print(mon)

N A B > 2 3 5 2 4 5
9
N A B > 3 5 6 3 8 5 100 8
22
N A B > 2 100 1 1 1 100
3
N A B >
end

# 問題１0 Crested Ibis vs Monster

トキはモンスターと戦っています。

モンスターの体力は H です。

トキは N 種類の魔法が使え、 i 番目の魔法を使うと、モンスターの体力を A i 減らすことができますが、トキの魔力を B i 消耗します。

同じ魔法は何度でも使うことができます。魔法以外の方法でモンスターの体力を減らすことはできません。

モンスターの体力を 0 以下にすればトキの勝ちです。

トキがモンスターに勝つまでに消耗する魔力の合計の最小値を求めてください。

In [220]:
import pandas as pd

while True:
    loss = 0
    try:
        [h, n, *a_b] = map(int,input('N H [A,B] > ').split())
    except:
        print('end')
        break
    
    COLS = ['A','B','A/B']
    df_data = pd.DataFrame(columns=COLS)
    while a_b:
        a = a_b.pop(0),
        b = a_b.pop(0),
        sr_data = pd.Series([
            a[0],
            b[0],
            a[0]/b[0]
        ], index=df_data.columns)
        df_data = df_data.append(sr_data, ignore_index=True)
        
    lose = 0
    while h > 0:
        if h >= df_data[df_data['A']<=h]['A'].max():
            df = df_data[df_data['A']<=h].sort_values(by=['A/B','B','A'], ascending=[False, True, False])
        else:
            df = df_data[df_data['A']>h].sort_values(by=['B','A'], ascending=[True, True])
        h -= df.iloc[0, 0]
        lose += df.iloc[0, 1]
        print(h, lose, -df.iloc[0, 0], df.iloc[0, 1])
    print(lose)

N H [A,B] > 9999 10 540 7550 691 9680 700 9790 510 7150 415 5818 551 7712 587 8227 619 8671 588 8228 176 2461
9459.0 7550.0 -540.0 7550.0
8919.0 15100.0 -540.0 7550.0
8379.0 22650.0 -540.0 7550.0
7839.0 30200.0 -540.0 7550.0
7299.0 37750.0 -540.0 7550.0
6759.0 45300.0 -540.0 7550.0
6219.0 52850.0 -540.0 7550.0
5679.0 60400.0 -540.0 7550.0
5139.0 67950.0 -540.0 7550.0
4599.0 75500.0 -540.0 7550.0
4059.0 83050.0 -540.0 7550.0
3519.0 90600.0 -540.0 7550.0
2979.0 98150.0 -540.0 7550.0
2439.0 105700.0 -540.0 7550.0
1899.0 113250.0 -540.0 7550.0
1359.0 120800.0 -540.0 7550.0
819.0 128350.0 -540.0 7550.0
279.0 135900.0 -540.0 7550.0
103.0 138361.0 -176.0 2461.0
-73.0 140822.0 -176.0 2461.0
140822.0
N H [A,B] >
end

In [221]:
df

       A       B       A/B
9  176.0  2461.0  0.071516
4  415.0  5818.0  0.071330
3  510.0  7150.0  0.071329
0  540.0  7550.0  0.071523
5  551.0  7712.0  0.071447
6  587.0  8227.0  0.071350
8  588.0  8228.0  0.071463
7  619.0  8671.0  0.071387
1  691.0  9680.0  0.071384
2  700.0  9790.0  0.071502

In [222]:
140822-139815

1007

In [223]:
9680+9790

19470

In [224]:
(7550+2461)*2

20022

In [225]:
20022-19470

552

In [226]:
1359-700

659